body {

}

.container {
  width: 960px;
  margin: 0 auto;
}

header, aside, footer, article {
  background-color: #EEEEEE;
  border: 1px solid #333333;
}

header {
  height: 100px;
  margin-bottom: 20px;
}

footer {
  height: 100px;
  margin-top: 20px;
}

.content-container {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

}

article {
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 4;
}

aside {
  width: 20%;
  /*flex-grow: 1;*/
  flex: 1 15%;

}




